require 'allure-rspec'

RSpec.configure do |config|
  config.color = true               # Use color in STDOUT
  config.formatter = :documentation # Use the specified formatter
  config.log_level = :error         # Avoid deprecation notice SPAM
  config.include AllureRSpec::Adaptor # Export Allure Reports
end


AllureRSpec.configure do |c|
    c.output_dir = "/codefresh/volume/allure-results"
    c.clean_dir = false
end